body {
	min-width: 400px;
	padding: 0;
	margin: 0;
	font: 14px/1.3em 'Open Sans', 'open_sansregular', 'Arial', 'Tahoma', 'sans-serif';
	color: #000;
}

/******* body styles for mobile screen ***********/
@media screen and (max-width: 600px) {
	
	body {
		font-size: 12px;
        line-height: 15px;
	}
		
}

header, footer, nav, article, main {
	display:block;
}

p {
	text-align: left;
}

ul {
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	color: #26c17e;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

.nomargin {
	margin: 0;
}

ul.clear-items li:AFTER {
	clear: both;
	display: block;
	content: '';
}

.clearfix:BEFORE, .clearfix:AFTER {
	clear: both;
	display: block;
	content: '';
}

.btn {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #000614;
	color: #fff;
	font: inherit;
}

.btn:HOVER {
	background-color: #26c17e;
	cursor: pointer;
}

.overlay {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}

/********************* index page *********************/
body.index-page {
	background-image: url("../images/main_background.jpg");
	background-attachment: scroll;
    background-size: cover;
    color: #fff;
}

.index-page .container {
	position: absolute;
	width: 470px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -235px;
	margin-top: -200px;
}


/************** make index page container smaller for mobile screen *************/
@media screen and (max-width: 600px) {
	.index-page .container {
		width: 350px;
		height: 450px;
		margin-left: -175px;
		margin-top: -225px;
	}
}

/* block with profile photo and caption */
.simple-person-block .photo {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 100px;
    border: 2px solid #fff;
}

.simple-person-block h1 {
	text-align: center;
	margin: 10px 0 0;
	font: 45px/48px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 700;
}


/* block with profile description */
.profile-description h2, 
.profile-description p, 
.actions {
	text-align: center;
	margin: 10px 0 0;
	word-break: break-word;
}

.profile-description h2 {
	font: 30px/33px 'Open Sans', 'open_sansregular', 'Arial', 'Tahoma', 'sans-serif';
}

/*********** make simple person block smaller for mobile screen ***********/ 
@media screen and (max-width: 600px) {
	
	.simple-person-block h1 {
		font-size: 40px;
		line-height: 44px;	
	}
	
	.profile-description h2 {
		font-size: 26px;
		line-height: 29px;
	}
	
}

/*****************  inner page ********************/
.sidebar {
	width: 250px;
	background: #000614;
	bottom: 0;
	top: 0;
	position: fixed;
}

.sidebar .menu-button {
	position: absolute;
    top: 5px;
    border-radius: 0 5px 5px 0;
}

.nav-button {
	padding: 8px 10px;
	right: -37px;
}

.nav-button .fa:BEFORE {
	font-size: 20px;
}

.tabs {
	margin: 30px 0 0;
}

.tabs li {
	padding: 20px;
	border-top: 1px dashed #181e2c;
	font: 16px/16px 'Open Sans', 'open_sansregular', 'Arial', 'Tahoma', 'sans-serif';
	color: #676f82;
}
.tabs li:LAST-CHILD {
	border-bottom: 1px dashed #181e2c;
}

.tabs li:HOVER {
	color: #26c17e;
	cursor: pointer;
}

.tabs li .fa:BEFORE {
	font-size: 22px;
	width: 40px;
    display: inline-block;
}


.sidebar .actions {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

.inner-page .container {
	width: calc(100% - 250px);
	margin-left: 250px;
	padding: 0 40px;
	box-sizing: border-box;
	height: 100%;
}

.inner-page .content-wrapper {
	position: relative;
	max-width: 900px;
}

.back-to-top-button {
	position: absolute;
	bottom: -40px;
    right: -40px;
}

/* configure block with profile photo and name 
	to be smaller */
.sidebar .simple-person-block .photo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 15px auto 0;
}

.sidebar .simple-person-block h1 {
	text-align: center;
	margin: 12px 0 0;
	font: 17px/22px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 800;
	color: #feffff;
}

/****** menu and content styles for mobile screen ******/
@media screen and (max-width: 600px) {

	.inner-page .container {
		margin-left: 65px;
		width: calc(100% - 65px);
	}
	
	.sidebar {
		width: 65px;
	}
	
	.sidebar .simple-person-block .photo {
		width: 90%;
		height: 90%;
	}
	
	.sidebar .simple-person-block h1 {
		display: none;
	}
	
	.tabs li .tab-text {
		display: none;
	}
	
	.sidebar .actions .btn .btn-text {
		display: none;
	}
	
}


/**** article general styles *****/
.details-article {
	margin: 40px 0 0;
}

.details-article h1 {
	margin: 0 0 50px; 
	font: 25px/28px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 900;
	color: #26c17e; /*sharmrock*/
}

/******** education list *******/
.education-list {
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: hidden;
	max-height: 335px;
}

.education-list li {
	position: relative;
}

/* year column with vertical line made of gradient fill */
.education-list .year {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
	background: linear-gradient(90deg, #fff 0%, #fff 30%, #26c17e 30%, #26c17e 35%, #fff 35%);
}

.education-list .year time {
	display: inline-block;
	padding: 12px 0;
	margin: 0 0 0 15%;
	background-color: #fff;
	font: 14px/16px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 900;
}

.education-list .description {
	position: relative;
	float: right;
	padding: 15px 10px;
	margin: 0 0 10px;
	box-sizing: border-box;
	width: 90%;
	background-color: #ddd;
}

.education-list .description h3 {
	margin: 0 0 5px;
	font: 16px/19px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 900;
}

.education-list .description .arrow {
	display: block;
	position: absolute;
	background-color: #ddd;
	width: 15px;
	height: 15px;
	left: -7px;
	content: '';
}

.rotate45 {
	-moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg); 
    transform: rotate(45deg);
}

/****** education list styles for mobile screen ******/
/****** need to adapt columns width for certain screen sizes ********/
@media screen and (max-width: 900px) {
	
	.education-list .year {
		width: 15%;
	}
	
	.education-list .description {
		width: 85%;
	}
	
}

@media screen and (max-width: 700px) {
	
	.education-list .year {
		width: 20%;
	}
	
	.education-list .description {
		width: 80%;
	}
	
}

@media screen and (max-width: 450px) {
	
	.education-list .year {
		width: 25%;
	}
	
	.education-list .description {
		width: 75%;
	}
	
}


/******** experience list styles ***********/
.detail-block h3, .detail-block h3 p {
	margin: 0;
}

.experience-list h3, p {
	margin: 0;
}

.experience-list h3 {
	font: 16px/19px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 900;
}

.experience-list .place {
	width: 15%;
	float: left;
}

.experience-list .position {
	width: 85%;
	float: left;
}

.experience-list .position::AFTER {
	display: block;
	clear: both;
	content: '';
}

.experience-list li {
	border-top: 2px dashed #26c17e; /*sharmrock*/
	padding: 15px 0;
}

.experience-list li:FIRST-CHILD {
	padding-top: 0;
	border-top: none;
}

@media screen and (max-width: 750px) { 
	
	.experience-list .place {
		width: 20%;
	}
	
	.experience-list .position {
		width: 80%;
	}
	
}

/****** experience list styles for mobile screen ******/
@media screen and (max-width: 600px) {
	
	.experience-list .place {
		width: 25%;
	}
	
	.experience-list .position {
		width: 75%;
	}
	
}

/****** skills list ******/
.skills-list li {
	margin: 0 0 10px;
	display: block;
}

/********* custom progress bar ********/
.skill-progress {
	display: inline-block;
	padding: 6px 10px;
	box-sizing: border-box;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #26c17e; /* sharmrock*/
	font-size: 17px;
	color: #fff;
	transition-delay: .5s;
	transition-property: width;
	transition-duration: 1s;
}

.skill-progress.low {
	width: 25%;
}

.skill-progress.normal {
	width: 50%;
}

.skill-progress.good {
	width: 75%;
}

.skill-progress.excelent {
	width: 100%;
}
/********* END custom progress bar ********/

/****** progress levels scale *****/
.levels-scale {
	position: relative;
	height: 28px;
}

.levels-scale .level {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-top: none;
	height: 6px;
	width: 100%;
}

.levels-scale .level>span {
	position: absolute;
	right: 0;
	bottom: -20px;
	font-size: 14px;
	color: #ddd;
}

.levels-scale .level:FIRST-CHILD>span {
	left: 0;
	right: 100%;
}

.levels-scale .level.beginner {
	width: 100%;
}

.levels-scale .level.proficient {
	width: 25%;
}

.levels-scale .level.expert {
	width: 75%;
}

.levels-scale .level.master {
	width: 100%;
}
/******* END progress levels scale *******/

/******** portfolio list **********/
.portfolio-list li {
	float: left;
	margin: 0 4px 12px 0;
}

.portfolio-list li:nth-child(even):AFTER {
	clear: both;
	float: none;
	display: block;
	content: '';
}

.portfolio-list .portfolio-content {
	position: relative;
	width: 300px;
	height: 200px;
}

.portfolio-list .portfolio-content > img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1a7;
}

.portfolio-list .portfolio-hidden-content {
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	height: 0;
	bottom: 0;
	width: 100%;
	color: #26c17e;
	-moz-transition: height 1s;
	transition: height 1s;
}

.portfolio-list .portfolio-hidden-content > h4 {
	margin: 0;
	font: 15px/18px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	font-weight: 900;
}

.portfolio-list .portfolio-hidden-content > p {
	margin: 10px 0;
	color: #fff;
}

.portfolio-list .portfolio-content:HOVER .portfolio-hidden-content {
	padding: 17px;
	height: 100%;
	border: 1px solid #26c17e; /* sharmrock*/
	-moz-transition: height 1s;
	transition: height .5s;
}	

.portfolio-nav ul li {
	display: inline-block;
	font: 500 16px/19px 'Open Sans', 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
	color: #26c17e;
	cursor: pointer;
}

.portfolio-nav ul li.active {
	color: #000;
}

.portfolio-nav ul li:AFTER {
	content: ' /';
	color: #000;
}

.portfolio-nav ul li:LAST-CHILD:AFTER {
	content: '';
}

/********* portfolio styles for mobile screen **********/
@media screen and (max-width: 460px) {
	
	.portfolio-list .portfolio-content {
		width: 270px;
		height: 180px;
	}
	
}

/******* contacts list ********/
.contacts-list .icon, .contacts-list .detail {
	height: 78px;
	vertical-align: middle;
	display: table-cell;
}

.contacts-list .icon {
	width: 84px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #26c17e;
}

.contacts-list li:LAST-CHILD .icon {
	border-bottom: none;
}

.contacts-list .icon .fa:BEFORE {
	font-size: 28px;
}

.contacts-list .detail {
	padding-left: 8px;
	text-align: left;
	word-break: break-all;
}

.contacts-list .detail h4 {
	font-weight: 900;
}

.contacts-list .detail h4, .contacts-list .detail p {
	margin: 0;
}

.contacts-list .detail p {
	color: #bbb;
}

/************** feedback list ***********/
.feedback {
	margin: 0 0 50px;
}

.feedback .author {
	vertical-align: middle;
	height: 50px;
}
.feedback .author > .photo {
	display: table-cell;
	position: relative;
	width: 50px;
	height: 50px;
}

.feedback .author > .photo img {
	position: absolute;
	top: -8px;
	width: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
}

.feedback .author > .detail { 
	display: table-cell;
	padding: 8px 0 0 8px;
}

.feedback p {
	padding: 15px; 
	background-color: #ddd;
}

.feedback .author cite {
	font: 12px 'Open Sans Light', 'open_sansregular', 'Arial', 'Tahoma', 'sans-serif';
}
 
@keyframe  portfolio-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

