body {
	font-family: Tahoma;
	font-size: 15px;
	color: brown;
}
img {
	border: 2px solid black; 
}
h1 {
	color: green;
}
table td {
	background-color: yellow;
	text-align: center;
}
table td + td {
	background-color: yellow;
	padding-left: 20px; 
	text-align: left;
	vertical-align: top;
}